/* Header */
header {
    width: 100%;
    left: 0;
    top: 0;
    position: sticky;
    z-index: 1;
}
    
.navbar {
    background-color: #000000;
    width: 100%;
    height: 77px;
    display: flex;
    justify-content: center; 
    align-items: center;    
}

.navbar a {
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 100%;
}

body {
    width: 1603;
    margin: 0;
    padding: 0;
}

.hds-secondary-nav-track{
    display: block;
    background-color: #17171b;
    height: 63px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 10px;
    height: 68px;
}

.breadcrumb-prim {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  font-family: inter, sans-serif;
  font-size: 16px;
}

.breadcrumb__link {
  color: rgb(149, 149, 153);
  cursor: pointer;
  display: inline;
  font-family: inter, sans-serif;
  font-feature-settings: "kern";
  font-kerning: normal;
  font-size: 12.8px;
  line-height: 17.92px;
  list-style-type: none;
  text-align: center;
  text-decoration: none;
  text-decoration-color: rgb(149, 149, 153);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-size-adjust: 100%;
  text-underline-offset: 4px;
  text-wrap-mode: nowrap;
  white-space-collapse: collapse;
  box-sizing: border-box;
  height: auto;
  width: auto;
}

.breadcrumb__link:hover {
  text-decoration: underline;
}

.breadcrumb__separator {
  color: rgb(149, 149, 153);
  flex-shrink: 0;
  font-size: 12.8px;
}

.breadcrumb__current {
  color: rgb(255, 255, 255);  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 1;
  min-width: 0;
  font-size: 12.8px;
}