

.page-heading-md{
    width: 1100px;
    align-items: center;
    margin: 0 auto;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.05em;
    margin-bottom: 16px;
    margin-top: 40px;
    padding-bottom: 32px;
    padding-top:48px;
    font-family: "inter", sans-serif;
}


.visualization {

    width: 1000px;
    height: 600px;
    margin: 0 auto;
    padding-left: -100;
    box-sizing: border-box

}
.visualization iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.description{
    width: 900;
    margin: 0 auto;
    margin-top: 24;
    font-family: "Public Sans Web", sans-serif;
    font-size: 16px;
    margin-bottom: 100px;
}

h1 {
    color: #333;
    font-size: 24px;
}

h2 {
    color: #333;
    font-size: 18px;
}