.grid-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 1296px;
    margin: 0 auto;
}

.grid-list li {
    width: 100%;
}

.hds-content-item {
    display: flex;
    gap: 20px;
    background: white;
}

.hds-content-item-thumbnail {
    flex-shrink: 0;
    width: 429.33px;
}

.hds-content-item-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hds-content-item-heading {
    display: block;
    margin-bottom: .5rem;
    color: #000;
    text-decoration: none;
}

.CustomField {
    font-family: "Public Sans Web", sans-serif;
    margin-bottom: .2rem;
    line-height: 18.4px;
    color: #1b1b1b;
}

.research-header {
    text-align: center;
    font-size: 40;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.empty-research {
    text-align: center;
    padding: 50px;
    color: #666;
}

.hds-a11y-heading-22 {
    font-family: "inter", sans-serif;
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.05em;
}

.font-weight-bold {
    font-weight: 700;
    text-decoration: none;
}

.btn-primary{
    box-sizing: border-box;
    background: #000000;
    border: 2px solid #F64137;
    border-radius: 6px;
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 12px;
    min-width: 240px;
    min-height: 48px;
}

.btn-primary:hover {
    background-color: #F64137;
    color: white;
}

.btn-primary-danger{
    background: #000000;
    border: 2px solid #F64137;
    border-radius: 6px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
    text-align: center;
    line-height: 1;
}

.btn-primary-danger:hover {
    background-color: #F64137;
    color: white;
}

.Content-list-section {
    width: 323.5px;
    height: 40px;
    border: none;
    border-bottom: 0.842px solid #F0F0F0;
    outline: none;
    font-family: Public Sans Web, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 14.4px;
}

.Content-list-section:focus{
    outline: .25rem solid #2491ff;
    outline-offset: 0;
}
button {
    padding: 10px;
    border: 1px solid #959599;
    min-width: 2.25rem;
    min-height: 2.25rem;
    text-align: center;
    color: #58585b;
    margin-right: .75rem;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    color: #000;
    border-color: #000;
}